.sidebar{
    display: flex;
    background-color: black;
    /* width: 250px; */
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    height: 8vh;
    /* opacity: 0.6; */
}
.sidebar nav ul li a{
    padding: 0px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    color: white;
}
.main::before{
    content: "";
    position: absolute;
    /* background: url('../dp (2).jpg') no-repeat center center/cover; */
    top: 0;
    background-color: aqua;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 1.0;

}
.sidebar nav li{
    display: inline-block;
    list-style: none;
    color: white;
    font-size: 20px;
    /* padding: 30px 0; */
    padding: 14px 22px ;
    display: inline-block;
    margin: auto;
}
.name{
    font-size: 45px;
    font-family: 'Roboto', sans-serif;
}
.devinfo{
    padding-top: 20px;
    display: block;
    justify-content: center;
    flex-direction: column;
    color: whitesmoke;
    font-size: medium;
    margin-left: 20px;
}
.devinfo p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: azure;
    font-family: monospace;
    font-size: smaller;
}
.log img {
    width: 35px;
    padding: 5px 5px;
    border-radius: 13px
}

.devinfo .hello{
    /* animation-name: CSS; */
    animation-duration: 5s;
    animation-iteration-count: 5;
}
.hello h1{
    /* animation-name: CSS; */
    animation-duration: 5s;
    animation-iteration-count: 5;
}
@keyframes CSS{
    from{
        width: 100px;
    }
    to{
        width: 200px;
    }

}
.devinfo .hello{
    font-size: 15px;
    font-family: cursive;
    padding-top: 20px;
    transform: scale(1);
    transition: transform 1;
}
.info{
    /* background-color: rgb(151, 3, 236); */
    height: 48vh;
    width: 75vw;
    margin: 100px auto;
    display: flex;
    justify-content: space-around;
    color: whitesmoke;
    /* font-size:medium; */
    /* font-weight: 900; */
}
.log{
    color: white;
    width: 100px;
    margin: 10px 10px;
}