@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nunito+Sans:ital,wght@1,600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nunito+Sans:ital,wght@1,600&display=swap');

*{
    margin: 0;
    padding: 0;
}
.sidebar{
    display: flex;
    background-color: gray;
    /* width: 250px; */
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    height: 15vh;
    /* opacity: 0.6; */
    z-index: -1;
}

nav{
    display: inline-block;
    margin: auto;
} 
.sidebar nav li{
    display: inline-block;
    list-style: none;
    color: white;
    font-size: 40px;
    /* padding: 30px 0; */
    padding: 15px 12px ;
    display: inline-block;
    margin: auto;
}
.sidebar ul{
    text-align: center;
}
.sidebar nav ul li a{
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: white;
    opacity: 1;
}
.sidebar nav ul li a:hover{
    color: red;
    width: 50px;
}
.main::before{
    content: "";
    position: absolute;
    /* background: url('../dp (2).jpg') no-repeat center center/cover; */
   background-color: aqua;
    top: 0;
    left: 0;
    height: 150%;
    width: 100%;
    z-index: -1;
    opacity: 1.0;

}
.main{
margin-right: 230px;
}
.devinfo{
position: relative;
/* width: 100px; */
margin: 10px;
padding: 0px 10px;
box-shadow: 30px 30px 60px rgba(0, 0, 0, 0.8);

}
.container{
    /* display: flex; */
}
.info{
    /* background-color: rgb(151, 3, 236); */
    height: 68vh;
    width: 75vw;
    margin: 100px auto;
    display: flex;
    justify-content: space-around;
    color: whitesmoke;
    font-size:medium;
    font-weight: 900;
}
.devinfo p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: azure;
    font-family: monospace;
    font-size: larger;

}
.devinfo{
    padding-top: 5px;
    display: block;
    justify-content: center;
    flex-direction: column;
    color: whitesmoke;
    font-size: medium;
    margin-left: 20px;

}

.devinfo .hello{
    font-size: 16px;
    font-family: cursive;
    padding-top: 20px;
    transform: scale(1);
    transition: transform 1;
}
.devinfo .hello:hover{
    transform: scale(1s);
}
.devinfo .hello{
    animation-name: CSS;
    animation-duration: 5s;
    animation-iteration-count: 5;
}
@keyframes CSS{
    from{
        width: 200px;
    }
    to{
        width: 500px;
    }

}
.name{
    font-size: 60px;
    font-family: 'Roboto', sans-serif;
}
.about{ 
    font-family: 'Indie Flower', cursive;
    padding-bottom: 20px;
}
.buttons button{
    margin-top: 20px;
    background-color: pink;
    border-radius: 10px;
    cursor: pointer;
    margin: 14px 3px;
    width: 100px;
    justify-content: center;
    text-align: center;
    font-weight: bold;
}
.buttons button a{
    text-decoration: none;

}
.buttons button:hover{
   background-color: rgb(197, 37, 63);
}
.log img{
    width: 35px;
    padding: 5px 5px;
    border-radius: 13px;
    opacity: 0.8;
    transform: rotate(0deg);
    transition: transform 1s;
}
.log img{
    width: 50px;
    transform: rotate(360deg);
}
.log{
    color: white;
    width: 150px;
    margin: 10px 10px;
}
